.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
}

.socials{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    gap: 10px;
}

.socials a{
    color: white;
    text-decoration: none;
    font-size: 15pt;
}